/* DEPRECATED */
/* TODO: port all classes to tailwind */

/* https://www.figma.com/community/file/817513323632105907/core-lite-v3-3-0-design-system-starter-kit */

button.danger {
	background-color: var(--red-500) !important;
}

button.danger:hover {
	background-color: var(--red-700) !important;
}

button.danger:focus {
	background-color: var(--red-800) !important;
}

button:disabled * {
	color: var(--neutral-700) !important;
	fill: var(--neutral-700) !important;
	stroke: var(--neutral-700) !important;
}

.notification.success {
	background-color: var(--green-300);
	border-color: var(--green-500);
}

.notification.warning {
	background-color: var(--yellow-300);
	border-color: var(--yellow-500);
}

.notification.error {
	background-color: var(--red-300);
	border-color: var(--red-500);
}

.notification .icon {
	width: 32px;
	height: 32px;
}
