html,
body {
	min-height: 100vh;

	background-color: var(--neutral-100);
	color: var(--black) !important;
}

body {
	padding: var(--medium);
}

main {
	gap: var(--medium);
	align-items: flex-start;
}

.column {
	display: flex;
	flex-direction: column;
}
